@font-face {
    font-family: "Roboto Ligth";
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Inter Regular";
    src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    --font-default: "Roboto Ligth";
    --font-default-bold: "Roboto Bold";
    --font-default-regular: "Roboto Regular";
    --font-findTheProblem: "Inter Regular";
    --font-interact: "Inter Regular";
    --main-padding: 120px;
    --font-size-default: 1.125rem;
    --font-size-card: 0.875rem;
    --font-size-header-main: 3.375rem; /* h1 */
    --font-size-header-regular: 2.375rem; /* h2 */
    --font-size-header-sub: 1.75rem; /* h3 */
    --font-size-header-card: 1.125rem; /* h4 */

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--font-default);
    color: black;
}

a {
    color: inherit;
}

h1 {
    font-family: var(--font-default-regular);
    font-weight: 600;
    color: #0B0C17;
    font-size: var(--font-size-header-main);
}

h2 {
    font-family: var(--font-default-regular);
    font-weight: 600;
    font-size: var(--font-size-header-regular);
}

h3 {
    font-family: var(--font-default-regular);
    font-weight: 600;
    font-size: var(--font-size-header-sub);
}

h4 {
    font-family: var(--font-default-bold);
    font-size: var(--font-size-header-card);
}

p {
    line-height: 1.75rem;
    font-size: var(--font-size-default);
}

/* 
==================================================================
                                Header
==================================================================
*/

header {
    padding: 38px var(--main-padding);
    height: 100vh;
    background: 
    url(../img/ilustracion_people.png) top right/ 50% no-repeat,
    url(../img/ilustracion1.png) top right/ 50% no-repeat;
}

header > p {
    font-family: var(--font-default-regular);
    font-size: 0.75rem;
}

header section {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header section h4 {
    margin-top: 100px;
    margin-bottom: 100px;
    color: #FF3571;
}

header article {
    margin-left: 50px;
    width: 50%;
    margin-top: auto;
    justify-content: end;
}

header article p{
    padding-top: 1rem;
}

header article p img{
    height: 1.5em;
}

/* 
==================================================================
                                Main
==================================================================
*/

main > img {
    width: 100%;
}

main > div {
    padding: 100px var(--main-padding);
}

/* 
==================================================================
                                About
==================================================================
*/

.about > article {
    display: flex;
}

.about > article h2 {
    width: 25%;
    flex-grow: 0;
    /* max-width: 12em; */
    /* flex-basis: 1; */
    /* padding-right: 100px; */
}

.about > article h2 img {
    height: 1em;
}

.about > article p {
    width: 75%;
    padding: 0 100px;
    /* flex-basis: 2; */
}

.about > h2 {
    width: 66%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
}

.about > div {
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    justify-content: space-between;
}

.about > div:not(:last-of-type) {
    margin-bottom: 50px;
}

.card {
    max-width: 40%;
    display: flex;
    align-items: baseline;
}

.card img {
    width: 32px;
    margin-right: 25px;
}

.card div p {
    margin-top: 1rem;
    line-height: 2em;
}

/* 
==================================================================
                                Challenges
==================================================================
*/

.challenges {
    padding-top: 100px;
}

.challenges > h3,
.challenges > p {
    text-align: center;
    max-width: 33%;
    margin-left: auto;
    margin-right: auto;
}

.challenges > p {
    margin-top: 25px;
}

.challenge {
    margin-top: 100px;
    display: flex;
    column-gap: 100px;
}

.challenge:nth-of-type(even) {
    flex-direction: row-reverse;
}

.challenge > img {
    min-width: 50%;
}

.challenge article img {
    margin: 50px 0;
    /* width: 40px;
    font-family: var(--font-findTheProblem);
    font-size: 45px;
    text-align: center; */
}

.challenge .number {
    font-family: var(--font-default-bold);
    font-size: 3.25rem;
    color: #DDDDDD;
    line-height: normal;
}

.text {
    margin-top: 25px;
    line-height: 2em;
}

/* 
==================================================================
                                Subscribe
==================================================================
*/
.subscribe {
    text-align: center;
    margin-top: 100px;
}

.subscribe p {
    font-size: var(--font-size-card);
}

.subscribe form {
    margin-top: 50px;
}

.subscribe input {
    width: 33%;
    border: none;
    text-align: center;
    font-size: 1.5rem;
}

.subscribe button {
    display: block;
    background-color: #FF3571;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 64px;
    border-radius: 10px;
    box-shadow: none;
    margin-top: 50px;
}

.subscribe p {
    margin-top: 25px;
}

/* 
==================================================================
                                Footer
==================================================================
*/

footer {
    margin: 25px var(--main-padding);
}

footer img {
    height: 1em;
}
